@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: "CookieRun", "본고딕", Dotum, "돋움", Gulim, "굴림", Tahoma,
    Verdana, AppleGothic, UnDotum, Arial;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 500;
  color: #232426;
  font-family: "CookieRun", "본고딕", Dotum, "돋움", Gulim, "굴림", Tahoma,
    Verdana, AppleGothic, UnDotum, Arial;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
th,
td {
  word-break: break-all;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-text-size-adjust: none;
  border: 0;
  table-layout: fixed;
  box-sizing: border-box;
}

a,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CookieRun", "본고딕", Dotum, "돋움", Gulim, "굴림", Tahoma,
    Verdana, AppleGothic, UnDotum, Arial;
  color: #232426;
  -webkit-text-size-adjust: none;
}

input,
textarea {
  -webkit-text-size-adjust: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: "CookieRun";
  src: url("@/assets/fonts/CookieRun Regular.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "CookieRun";
  src: url("@/assets/fonts/CookieRun Bold.otf") format("opentype");
  font-weight: 600;
}
